mixin card(data)
	.card
		.card__left 
			.card__image
				+picture({
					img: data.img
				})
		.card__right
			h2.card__title= data.title 
			p.card__info_row
				span.card__author #{data.author} 
				span.card__date #{data.date}
			.card__tags 
				each tag in data.tags 
					a(href="#")= tag 
			.card__bottom 
				.card__commet_quantity= data.quantity
				+icon('comment_ico')